/* CSS RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --color-green: #014e58;
  --color-dark-green: #032e34;
  --color-bg-member: #014047;
  --color-orange: #f67e7f;
  --color-line: #78c6ca;
  --font-title: "Poppins", sans-serif;
  --font-paragraph: "Heebo", sans-serif;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;
}

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-paragraph);
  color: #fff;
  background-color: var(--color-green);
}

.home-wrapper {
  margin: 0 auto;
  min-width: 300px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 30px;
  background-color: var(--color-green);
  height: 70px;
  z-index: 99;
}

.nav-container .nav-logo a {
  font-family: var(--font-title);
  font-size: var(--text-2xl);
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.nav {
  position: absolute;
  top: -500px;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  transition: 1s;
}

.nav a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 50px 0;
  font-size: var(--text-3xl);
  background-color: var(--color-green);
}

.nav-menu {
  font-size: var(--text-2xl);
  cursor: pointer;
  z-index: 999;
}

.dropdown {
  top: 70px;
  transition: 1s;
}

.header-intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 150px 0 50px 0;
  padding: 0 30px;
}

.header-title p {
  font-family: var(--font-title);
  font-size: var(--text-6xl);
  text-align: center;
  font-weight: bold;
}

.header-title p span {
  color: var(--color-orange);
}

.header-description {
  margin-top: 20px;
}

.header-description p {
  text-align: center;
  font-size: var(--text-2xl);
  line-height: 2rem;
}

.header-description .line {
  width: 200px;
  height: 5px;
  margin: 30px auto;
  background-color: var(--color-line);
}

/* main section */

.benefits-section {
  background-color: var(--color-dark-green);
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
}

.get-benefits {
  margin: 0 auto;
  text-align: center;
}

.get-benefits .line {
  width: 200px;
  height: 5px;
  background-color: var(--color-orange);
  margin: 30px auto;
}

.get-benefits p {
  font-size: var(--text-6xl);
}

.benefits-container {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
}

.benefit-icon,
.benefit-descriptions {
  text-align: center;
  margin: 20px 0;
}

.benefit-icon i {
  font-size: var(--text-8xl);
}

.benefit-descriptions h1 {
  font-size: var(--text-4xl);
  color: var(--color-orange);
  font-weight: bold;
}

.benefit-descriptions p {
  margin: 20px 0;
  line-height: 1.5;
  font-size: var(--text-2xl);
}

.profile-section {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 30px 0;
  padding: 0 30px;
}

.profile img {
  width: 250px;
  border-radius: 50%;
  border: 5px solid var(--color-dark-green);
}

.profile-description {
  margin: 30px 0;
}

.profile-description h1 {
  font-size: var(--text-4xl);
  font-weight: bold;
}

.profile-description p {
  margin: 10px 0;
  font-size: var(--text-2xl);
  line-height: 1.5;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-orange);
  color: var(--color-dark-green);
  padding: 30px;
}

.get-started p {
  font-size: var(--text-4xl);
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}

.contact-section a {
  display: inline-block;
  text-decoration: none;
  font-size: var(--text-2xl);
  color: var(--color-dark-green);
  border: 3px solid var(--color-dark-green);
  padding: 10px 20px;
  border-radius: 30px;
  margin: 20px 0;
  font-weight: bold;
}

.footer-section {
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-dark-green);
}

.footer-left {
  text-align: center;
}

.footer-links h1 {
  font-size: var(--text-4xl);
  font-family: var(--font-title);
  font-weight: bold;
}

.footer-links ul a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin: 20px;
  font-size: var(--text-2xl);
}

.footer-right p {
  font-size: var(--text-lg);
  line-height: 1.5;
}

.copyright p {
  font-size: var(--text-lg);
  margin: 20px 0;
  text-align: center;
}

/* About */

.members-section {
  background-color: var(--color-bg-member);
}

.members-container {
  padding: 50px 30px;
}

.member-title .line {
  width: 200px;
  height: 5px;
  background-color: var(--color-orange);
  margin: 30px auto;
}

.member-title p {
  text-align: center;
  font-size: var(--text-4xl);
  font-weight: bold;
}

.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0;
  gap: 100px;
}

.member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-green);
  padding: 50px;
  border-radius: 5px;
  min-width: 300px;
  width: 400px;
  height: 400px;
}

.member-image img {
  width: 100px;
  border-radius: 50%;
}

.member-info {
  text-align: center;
}

.member-info h1 {
  font-size: var(--text-2xl);
  margin: 20px 0;
  font-weight: bold;
  color: var(--color-line);
}

.member-info p {
  font-size: var(--text-lg);
}
@media (min-width: 501px) {
  .nav {
    position: relative;
    top: 0;
    transition: none;
  }

  .nav a {
    display: inline-block;
    font-size: var(--text-lg);
    margin-left: 20px;
    padding: 0;
  }

  .nav a:nth-last-child(1) {
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 5px 15px;
  }

  .nav-menu {
    display: none;
  }

  .members {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 769px) {
  .nav-container {
    padding: 0 100px;
  }
  .header-intro {
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
    padding: 0 100px;
  }

  .header-title p {
    text-align: start;
    font-size: var(--text-7xl);
    max-width: 500px;
  }

  .header-description p {
    text-align: start;
    max-width: 700px;
  }

  .header-description .line {
    width: 100px;
    margin: 20px 0;
  }

  .benefits-section {
    flex-direction: row;
    padding: 50px 100px;
    justify-content: space-between;
    gap: 50px;
  }

  .get-benefits .line {
    width: 100px;
    margin: 30px 0;
  }

  .get-benefits {
    margin: 0;
  }

  .get-benefits p {
    font-size: var(--text-4xl);
    text-align: start;
    font-weight: bold;
    margin: 0;
    max-width: 400px;
  }

  .benefit {
    display: flex;
    gap: 30px;
    justify-content: center;
  }

  .benefit-icon i {
    width: 150px;
  }

  .benefit-descriptions > * {
    text-align: start;
  }

  .benefit-descriptions p {
    max-width: 500px;
  }

  .profile-section {
    padding: 100px;
    gap: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .profile-description > * {
    text-align: start;
  }

  .profile-description {
    max-width: 600px;
  }

  .contact-section {
    flex-direction: row;
    justify-content: center;
    gap: 100px;
  }

  .footer-section {
    flex-direction: row;
    padding: 50px 100px;
    justify-content: space-between;
    align-items: flex-end;
  }

  .footer-left {
    display: flex;
    gap: 50px;
  }

  .footer-right {
    max-width: 200px;
    text-align: start;
  }
}
